<style>
table, th, td {
  border:1px solid black;
}
</style>

<h1>Teams</h1>

  <% @teams.each do |team| %>
  <h3><%= team.hometown %>
  <%= team.nickname %></h3>

  <table>

      <tr>
        <th> Player Name
        <th> Player Age
      </tr>
        <% team.order_av_age.each do |player| %>
      <tr>
      <th> <%= player.name %> </th>
      <th> <%= player.age %> </th>
      </tr>
          <% end %>
  </table>

  <% end %>
